<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#{{ collapse.id }}" role="button" aria-expanded="false" aria-controls="{{ collapse.id }}">
    {{ collapse.title }}
  </a>
</p>
{% include '_collapse-item.twig' with collapse %}
