{% set base_class = 'list-group' %}
{% if modifier_classes %}
  {% set classes  = [base_class]|merge(modifier_classes) %}
  {% set classes  = classes|join(' ') %}
{% else %}
  {% set classes = base_class %}
{% endif %}

<ul class="{{ classes }}">
  {% for item in list_group %}
    {% set list_item_classes = ['list-group-item'] %}
    {% if item.classes %}
      {% set list_item_classes = list_item_classes|merge(item.classes) %}
    {% else %}
    {% endif %}
    <li class="{{ list_item_classes|join(' ') }}">{{ item.content }}</li>
  {% endfor %}
</ul>
