<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="{{ dropdown.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ dropdown.title }}
  </button>

  {% include '_dropdown-menu.twig' %}

</div>
