  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script type="text/javascript" src="../../js/jquery.slim.min.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="../../js/popper.min.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="../../js/bootstrap.bundle.min.js?{{ cacheBuster }}"></script>
  </body>
</html>
